<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ĐĂNG KÝ PrEP</title>
</head>
<body style="font-family:Arial">
<div class="form_chung">
    <div class="logo-PrEP">
        
        <h1 class="tieude">#PrEPngay</h1>
    </div>

    <div class="form_PrEP">
        <h1>Trang đăng ký nhận PrEP miễn phí</h1>
        <h4>Chúng tôi xin cam kết các thông tin mà bạn cung cấp hoàn toàn được bảo mật</h4>

        <form action="" method="post">
            <div>
                <h4>Email</h4>
                <input type="text" placeholder="Câu trả lời của bạn" />
            </div>
            <div>
                <h4>Họ và tên</h4>
                <input type="text" placeholder="Câu trả lời của bạn" />
            </div>
            <div>
                <h4>Số điện thoại</h4>
                <input type="text" placeholder="Câu trả lời của bạn" />
            </div>
            <div>
                <h4>Cơ sở bạn muốn nhận PrEP</h4>
                <select name="Chon" id="chon1">
                    <option hidden>Chọn</option>
                    <option value="Glink">Phòng khám GlinK Cần Thơ - 152/18A CMT8, phường Cái Khế, Q. Ninh Kiều, PTCT</option>
                    <option value="Dk">Phòng khám đa khoa, chuyên khoa CDC Cần Thơ (Cơ sở 1)- 400 Nguyễn Văn Cừ nối dài, phường An Bình, Q Ninh Kiều, TPCT</option>
                    <option value="TT">Trung tâm Y tế quận Bình Thủy- KDC Ngân Thuận, phường Bình Thủy, Q. Bình Thủy, TPCT</option>

                </select>
            </div>
            <div>
                <h4>Bạn biết trang đăng ký qua</h4>
                <div class="choose">
                    <input type="radio" name="choose" id="Tiếp cận viên" />Tiếp cận viên
                    <input type="radio" name="choose" id="Cán bộ y tế" />Cán bộ y tế
                    <input type="radio" name="choose" id="Thầy cô" />Thầy cô
                    <input type="radio" name="choose" id="Bạn bè" />Bạn bè
                    <input type="radio" name="choose" id="Bạn tình" />Bạn tình
                    <input type="radio" name="choose" id="Báo/ Đài" />Báo/ Đài
                    <input type="radio" name="choose" id="Tờ rơi/ áp phích/ pano" />Tờ rơi/ áp phích/ pano
                    <input type="radio" name="choose" id="Khác" />Khác
                </div>
            </div>

            <div>
                <div style="width:25%; float:left">
                    <input type="submit" name="ok" value="Tiếp" />
                </div>
                <div>
                    <input type="reset" name="reset" value="Xóa hết các câu trả lời" />
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>